<div class="content">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Event 1</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/2.png"
        alt="small card"
      />
    </mat-card>
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Event 2</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/3.png"
        alt="small card"
      />
    </mat-card>
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title >Event 3</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/4.jpg"
        alt="small card"
      />
    </mat-card>
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Heghlights</mat-card-title>
      </mat-card-header>
      <ul>
        <li class="list">big billion days</li>
        <li class="list">big billion days</li>
        <li class="list">big billion days</li>
        <li class="list" >big billion days</li>
      </ul>
    </mat-card>
  </div>