<div class="mui-container">
  <div class="mui-panel">
    <h2>SignUp</h2>
    <form>
      <div class="mui-textfield">
        <input type="text" required placeholder="Username"> 
      </div>
      <div class="mui-textfield">
        <input type="email" required placeholder="Enter email"> 
      </div>
      <div class="mui-textfield">
        <input type="password" required placeholder=" password">
      </div>
      <button class="mui-btn mui-btn--primary" type="submit">SignUp</button>
    </form>
  </div>
</div>
